<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <h1>HELLO WORLD5</h1>
    <form action="/get-form-data" method="post">
        <input 
        type="text"
        placeholder="enter name"
        name="username"
        >
        <input type="text"
        placeholder="enter gmail"
        name="gmail">

        <input type="password"
        placeholder="enter password"
        name="password">


        <button>Submit Form</button>
    </form>
</body>
</html>